/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import compass

/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
$vertical: true

/* -------------------------------------
 * General Style
 * ------------------------------------- */

// Colours
$bg: #48b379
$white: #eee9dc
$red: #f98262

@import url(https://fonts.googleapis.com/css?family=Noto+Sans)
  
  
a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

body { 
margin: 0;
padding: 0; 
background: #ffffff;
}

.navbar {
  height: 40px;
  line-height: 40px;
  background: #003264;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-weight: 700
}

.main {
  padding: 16px;
  margin-top: 0px;
}

a.anchor {
    position: relative;
    top: -50px;
    visibility: hidden;
}


body
  @if $vertical
    max-width: 1200px
    margin: 0 auto
  @else
    margin: 0
  padding: 0 5%
  font-size: 100%
  font-family: 'Noto Sans', sans-serif
  color: $white
  background: $bg

h2
  margin: 3em 0 0 0
  font-size: 1.5em
  letter-spacing: 2px
  text-transform: uppercase

/* -------------------------------------
 * timeline
 * ------------------------------------- */

#timeline
  list-style: none
  @if $vertical
    margin: 50px 0 30px 120px
    padding-left: 30px
    border-left: 8px solid $white
  @else
    margin: 120px 0 0
    padding: 0
    border-top: 8px solid $white
    display: table
    border-spacing: 30px 0
  li
    @if $vertical
      margin: 40px 0
      position: relative
    @else
      display: table-cell
      // for Firefox
      .relative
        position: relative
  p
    margin: 0 0 15px

.date
  @if $vertical
    margin-top: -10px
    top: 50%
    left: -158px
  @else
    text-align: center
    top: -55px
    left: 0
    right: 0
  font-size: 0.95em
  line-height: 20px
  position: absolute
.circle
  @if $vertical
    margin-top: -10px
    top: 50%
    left: -44px
  @else
    margin: 0 auto
    top: -14px
    left: 0
    right: 0
  width: 10px
  height: 10px
  background: $bg
  border: 5px solid $white
  border-radius: 50%
  display: block
  position: absolute

.content
  @if $vertical
    max-height: 20px
    padding: 50px 20px 0
    border-color: transparent
  @else
    width: 200px
    max-height: 0
    margin-top: 40px
    vertical-align: top
    padding: 50px 15px 15px
    transition: width 0.4s linear, max-height 0.4s linear
  border-width: 2px
  border-style: solid
  border-radius: 0.5em
  position: relative
  &:before, &:after
    content: ""
    width: 0
    height: 0
    border: solid transparent
    position: absolute
    pointer-events: none
    @if $vertical
      right: 100%
    @else
      bottom: 100%
  &:before
    @if $vertical
      border-right-color: inherit
      border-width: 20px
      top: 50%
      margin-top: -20px
    @else
      border-bottom-color: inherit
      border-width: 15px
      left: 50%
      margin-left: -15px
  &:after
    @if $vertical
      border-right-color: $bg
      border-width: 17px
      top: 50%
      margin-top: -17px
    @else
      border-bottom-color: $bg
      border-width: 12px
      left: 50%
      margin-left: -12px
  p
    max-height: 0
    color: transparent
    text-align: justify
    word-break: break-word
    hyphens: auto
    overflow: hidden

label
  font-size: 1.3em
  position: absolute
  z-index: 100
  cursor: pointer
  @if $vertical
    top: 20px
    transition: transform 0.2s linear
  @else
    width: 200px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    display: block
    top: 60px
    left: 15px

.radio
  display: none
.radio:checked
  & + .relative
    label
      cursor: auto
      @if $vertical
        transform: translateX(42px)
      @else
        width: 400px
        transition: width 0.3s linear 0.2s
    .circle
      background: $red
  & ~ .content
    max-height: 180px
    border-color: $white
    @if $vertical
      margin-right: 20px
      transform: translateX(20px)
      transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear
    @else
      width: 400px
    p
      max-height: 200px
      color: $white
      transition: color 0.3s linear 0.3s

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@if $vertical
  @media screen and (max-width: 767px)
    #timeline
      margin-left: 0
      padding-left: 0
      border-left: none
      li
        margin: 50px 0
    label
      width: 85%
      font-size: 1.1em
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      display: block
      transform: translateX(18px)
    .content
      padding-top: 45px
      border-color: $white
      &:before, &:after
        border: solid transparent
        bottom: 100%
      &:before
        border-bottom-color: inherit
        border-width: 17px
        top: -16px
        left: 50px
        margin-left: -17px
      &:after
        border-bottom-color: $bg
        border-width: 20px
        top: -20px
        left: 50px
        margin-left: -20px
      p
        font-size: 0.9em
        line-height: 1.4
    .circle, .date
      display: none
